# Datafolio

Para acceder a los datos que se desean analizar consulte  el siguiente [enlace.](https://datacatalog.worldbank.org/dataset/world-development-indicators) (Data & Resources)

In [2]:
#Importando librerías que tal vez pueda utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings

warnings.filterwarnings("ignore")  # Elimina las advertencias

El archivo `WDIData` contiene información de muchos indicadores de los países y regiones del mundo desde el año 1960, es notable que hay una gran cantidad de datos `NaN` ya que no ha sido posible recolectar la misma información en todos los países de igual manera.

El documento `WDISeries` contiene información más detallada del indicador presente en el archivo `WDIData`.

En la tabla `WDICountry` se muestra información relevante de cada uno de los países.

# Ejercicio 1

Haga una lista de todos los temas ('Topic') que hay en el archivo   `WDISeries`, seleccione un sub-tema, por ejemplo, el tema general puede ser 'Environment' y el sub-tema 'Land use' y agregue una columna a `WDISeries` cuyo valor sea el sub-tema elegido, si no es del sub-tema elegido ponga el valor `NaN`.

In [5]:
# Subtema=
dfs=pd.read_csv('WDISeries.csv')
dfs['Subtema']=np.where(dfs['Topic']=='Education: Participation', 'Education: Participation' ,None)

# Ejercicio 2
Cree una nueva base de datos que contenga el histórico de todos los sucesos de su sub-tema por países y regiones. Llámela `sub-tema_df`. Trate esta nueva base de datos para que sea más legible y limpie, de ser necesario, la base.

In [6]:
sub_tema_df=dfs#[dfs.Subtema.notna()]
dfcountry_series=pd.read_csv('WDICountry-Series.csv')
sub_tema_df=sub_tema_df.merge(dfcountry_series,left_on='Series Code', right_on='SeriesCode',how='left')
dfcountry_series

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...,NaN
1,ABW,ST.INT.XPND.CD,Compiled from data reported in the Internation...,NaN
2,ABW,ST.INT.RCPT.CD,Compiled from data reported in the Internation...,NaN
3,ABW,SP.DYN.LE00.IN,Data source: United Nations World Population P...,NaN
4,ABW,SP.POP.TOTL,Data source: United Nations World Population P...,NaN
...,...,...,...,...
7955,ZWE,IS.RRS.GOOD.MT.K6,Source: Internation Union of Railways (UIC),NaN
7956,ZWE,IT.NET.BBND,TelOne. From 2002: Post and Telecommunications...,NaN
7957,ZWE,MS.MIL.XPND.CN,2006 highly uncertain data.,NaN
7958,ZWE,IT.NET.BBND.P2,TelOne. From 2002: Post and Telecommunications...,NaN
7959,ZWE,SP.DYN.LE00.IN,Data source: United Nations World Population P...,NaN

In [57]:
dfs=pd.read_csv('WDIData.csv')
dfs

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.512260,88.129881,87.275323,88.720097,89.308602,90.283638,89.286856,NaN,NaN,NaN
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,77.251714,78.165706,75.512153,78.211000,79.065508,81.102134,79.248100,NaN,NaN,NaN
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.435957,96.772853,96.466705,96.936319,97.290083,97.467915,97.063959,NaN,NaN,NaN
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378571,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN
378572,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.700000,NaN,NaN,NaN,5.4,NaN,NaN
378573,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.500000,32.400000,NaN,NaN,NaN,33.7,NaN,NaN
378574,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.200000,59.300000,59.400000,59.400000,59.500000,59.500000,59.600000,59.6,NaN,NaN
378575,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,21000.000000,20000.000000,19000.000000,18000.000000,16000.000000,15000.000000,13000.000000,13000.0,NaN,NaN

# Ejercicio 3
Divida la base de datos resultante del ejercicio anterior en dos, `sub-tema_C_df` y `sub-tema_R_df`, la primera tendrá la información por países y la segunda por regiones.

*Ayuda:* Use el archivo `WDICountry`para hacer la separación adecuada, la columna 'Regions' será de gran utilidad.

# Ejercicio 4
La base de datos aún conserva valores un poco difíciles de leer, remplace los valores de la columna 'Indicator code' por una descripción un poco más amena para el lector.

# Ejercicio 5
Es aquí donde su creatividad será puesta a prueba, pues ya tiene una base de datos en buenas condiciones para representar gráficamente muchísima información, pero no se cohiba, si quiere puede agregar más columnas de los demás archivos para hacer más y graficos más específicos.

*Sugerencia:* Grafique la distribución de las variables obtenidas, el comparativo entre regiones, como también entre los países que más aportan, las diferencias entre los países con ingresos altos medios y bajos, no se le sugiere más porque usted debe ser el creativo.

Recuerde la información debe ser relevante, fácil de leer y puede emplear las diferentes librerías vistas hasta ahora para hacer de su datafolio el mejor.

# Observaciones:
El datafolio debe:
```
- Enfatizar la narración y visualización de datos sobre la explicación con mucho texto.
- Ser de fácil lectura para la audiencia  y debe dar a entender rápidamente la esencia del trabajo.
- Ser atractivo y accesible para audiencias 'no técnicas'.
```